on:
  push:
    branches:
      - develop
      - feature/BAC-2
jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: checkout@v2
        uses: actions/checkout@v2

      - name: Version
        id: version
        run: |
          VERSION=`cat ./VERSION`-${{ github.run_id }}
          echo "::set-output name=version::$VERSION"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GIT_TOKEN }}

      - name: Build, tag, and push image to ghcr.io
        env:
          DOCKER_REGISTRY: ghcr.io/potato-club
          DOCKER_REPOSITORY: petition-api-dev
          IMAGE_TAG: ${{ steps.version.outputs.version }}
        run: |
          docker build -t $DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG .
          docker tag $DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG $DOCKER_REGISTRY/$DOCKER_REPOSITORY:latest
          docker push $DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG
          docker push $DOCKER_REGISTRY/$DOCKER_REPOSITORY:latest

  deploy:
    name: Deploy in k8s
    needs:
      - build
    runs-on: deploy
    steps:
      - name: Deploy k8s
        env:
          REGISTRY_NAME: ghcr.io/potato-club
          REPOSITORY_NAME: petition-api-dev
          VERSION: latest
        run: |
          kubectl set image deployment/petition-api-deployment petition-api=$REGISTRY_NAME/$REPOSITORY_NAME:$VERSION --record